# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
BUILD
.mbed
mbed-os
MbedJSONValue
mbed-http
HTS221
bmp180
iotkit
mfrc522
HTS221/ST_INTERFACES
HTS221/X_NUCLEO_COMMON
iotkit/drivers/COMPONENT_wifi_ism43362
vl53l0x
